@media all and (max-width: 1000px){
    .sekolah{
        width: 50%;
        margin-bottom: 50px;
    }
}

@media all and (max-width: 670px){
    .sekolah{
        width: 100%;
    }

    .header-right {
    display: none;
  }

    .menu-icon {
    display: block;
  }

    
    .bagian1{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bagian1 img{
        display: none;
    }

    .bagian2{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .bagian2 img{
        display: none;
    }
}
