* {
    margin: 0;
    padding:0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #000000;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 185px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

body{
    font-family: 'Lucida Grande';
}
a{
    text-decoration: none;
}

.cle{
    clear: left;
}
.colom-utama{
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.kotak{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.sekolah{
    float: left;
    width: 25%;
}

.sekolah-icon img{
    width: 200px;
    height: 150px;
}
.sekolah-icon p{
    color: #b3aeb5;
}

.txt{
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}

.bagian1{
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    color: #b3aeb5;
}
.bagian2{
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    color: #b3aeb5;
}
