* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
  font-color: black;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


header {
  height: 65px;
  width: 100%;
  background-color: #000000;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 190px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  /*background-image: url(https://raw.githubusercontent.com/riyadlusholihin/riyadlusholihin.github.io/master/gambar/background1.jpg);*/
  background-image: url(https://raw.githubusercontent.com/riyadlusholihin/riyadlusholihin.github.io/master/gambar/background3.jpg);
  background-size: cover;
  color: black;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.slogan {
  background-color: white;
  opacity: 0.6;
  padding: 25px 0;
}

.slogan h1 {
  opacity: 1;
}

.kalimat {
  color: white;
  margin: 30px 30px;
}

.daftar {
  text-align: center;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.signup {
  background-color: #900202;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.colom-utama{
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.kotak{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.sekolah{
    float: left;
    width: 25%;
}
.sekolah-icon img{
    width: 200px;
    height: 150px;
}
.sekolah-icon p{
    color: #b3aeb5;
}

.txt{
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    font-size: 15px;
    color: #b3aeb5;
}

.bagian1{
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    color: #b3aeb5;
}

.bagian2{
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    color: #b3aeb5;
}

.heading h2 {
  padding-top: 40px;
}

.heading h3 {
  font-weight: normal;
  padding-bottom: 15px;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: black;
  cursor: pointer;
  box-shadow: 0 7px gray;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


.footer {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding-bottom: 90px;
  
}

.footer-logo {
  width:20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  float:left;
  opacity:0.5 ;
}
.footer-logo img {
 
    width: 700%;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.footer-list li {
  padding: 30px 20px;
  float:right;
  list-style: none;
}

.copyright {
  border-top: 1px solid #000000;
  font-size: 14px;
  color: #000000;
  margin-top: 25px;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}
